body {
  font-family: "Encode Sans", sans-serif;
  background-color: #e0d8d3;
  color: #596e79;
}

h1,
p,
h2 {
  text-align: center;
}

h1,
#degrees {
  margin-top: 30px;
}

h2,
#strich,
#degrees,
#celsius {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 50px;
}
p {
  margin: 0;
}

#middle-part {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#display-windspeed {
  margin-bottom: 40px;
}

#city-search,
#submit-button,
#current-location {
  margin: 0 auto;
  display: block;
  margin-top: 60px;
}
#city-search {
  margin-bottom: 5px;
}

#submit-button,
#current-location {
  background-color: #596e79;
  color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  box-shadow: none;
  border-style: none;
}

#cities {
  text-align: center;
  margin-top: 30px;
}

.degreeBorder {
  border: 1px solid;
  padding: 20px;
  border-radius: 15px;
}
#berlin {
  text-align: center;
  color: #596e79;
  padding: 20px;
}

#open-source-text {
  font-size: 10px;
}
